{% extends "base.html" %}

{% block content %}
{% load static %}

<h1 id="data-analyst-in-e-commerce">Data Analyst in E-Commerce</h1>
<hr>
<h2 id="e-commerce-industry-overview">E-commerce Industry Overview</h2>
<ul>
  <li><p>What is E-Commerce?</p>
    <p>Business model enabling a firm or individual to conduct business over an electronic network, typically the internet.</p>
  </li>
  <li><p>Types of E-Commerce:</p>
    <ul>
      <li>Consumer-to-Consumer (C2C): Ebay/Amazon, Airbnb, Uber/Didi, T-mall/Taobao,</li>
      <li>Business-to-Consumer (B2C): Amazon, Alibaba/JD, Freelance</li>
      <li>Business-to-Business (B2B): Square, Amazon AWS, MS Azure</li>
      <li>Consumer-to-Business (C2B): Google Adsense</li>
    </ul>
  </li>
  <li><p>Product: physical/digital/service and etc.</p>
  </li>
</ul>
<h2 id="ba-da-in-e-commerce">BA/DA in E-Commerce</h2>
<ul>
  <li><p>Business Analyst</p>
    <ul>
      <li>Under CFO or COO</li>
      <li>Business Intelligence (BI) team</li>
      <li>Support various department: warehouse/UX design/marketing/operation/intl.</li>
    </ul>
  </li>
  <li><p>Data Analyst</p>
    <ul>
      <li>Under CTO</li>
      <li>Data Analytics/Data Science team</li>
      <li>Support marketing/stragey/BI and work with technology closely</li>
    </ul>
  </li>
</ul>
<p>Both can serve as internal consultant roles.</p>
<h2 id="important-metrics-kpis">Important Metrics &amp; KPIs</h2>
<ul>
  <li><p>Sales/Transaction: GsSales (FP/MD), GM%, RetRate, NetSales, NetGM%, InvST ...</p>
  </li>
  <li><p>Traffic: Visits, Conversion Rate (repeat/new visitor)</p>
  </li>
  <li><p>Customers: New/Active Customers, Retention, NPS</p>
  </li>
  <li><p>Marketing: CPA (CPC/PLA), Est.Marketing Spend (Paid Search/Retargeting/Affiliate/Social Media/CSE/SEO/Email etc.)</p>
  </li>
</ul>
<h2 id="data-analytics-full-cycle">Data Analytics Full Cycle</h2>
<p>Oversee every process in typical E-Commerce to look out for potential issues, problems and potential for optimization to boost business performance.</p>
<p>General steps:</p>
<ol>
  <li>Setup solution for request</li>
  <li>Data mining: collection/cleaning/massage</li>
  <li>Analytical analysis: A/B testing, regression modeling, seasonality/trending, etc.</li>
  <li>Summarize findings and insights: provide solution and/or recommendation</li>
</ol>
<p><img src="{% static 'img/ecommerce_flow.jpg' %}" alt="ECommerce_Flow"></p>
<h2 id="hiring-in-e-commerce">Hiring in E-Commerce</h2>
<ul>
  <li><p>Data Analyst: STEM major preferred</p>
  </li>
  <li><p>Business Analyst: MBA/B-school preferred or equivalent working experience</p>
  </li>
  <li><p>Common Interview Question:</p>
    <ul>
      <li>SQL, Excel (8+ out of 10)</li>
      <li>Scripting language like Python/Java (DA 8+/BA 6+)</li>
      <li>Business questions related: metrics, logic, decision/strategy</li>
      <li>Communication and problem solving skills</li>
    </ul>
  </li>
</ul>

{% endblock %}
