{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please put your name here</h3>
                </div>
                <div class="panel-body">
                  <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" name="username" value="{{usernm}}">
                            </div>
                            {% if err_msg %}
                              <span style="color:lightcoral"> {{err_msg}}</span>
                            {% endif %}
                            <button type="submit" class="btn btn-block btn-success" name='login'>OK, let's do it!</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
